wheel
setuptools==58.2.0
git+https://github.com/pannet1/omspy
git+https://github.com/pannet1/omspy-brokers
git+https://github.com/pannet1/toolkit
git+https://github.com/pannet1/kiteext
kiteconnect
pandas
pyotp
bs4
pyyaml
pydantic==1.9.0
pendulum
